<span style=" text-align: right;position: relative;bottom: 40px;left:93%">
    <button  nz-button [nzSize]="'middle'" nzDanger nzType="link" style="margin:0px 5px"
         (click)="exitPage()">離開頁面</button>
</span>
<div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">歷史OutBound紀錄</div>
    <nz-table nzShowSizeChanger [nzFrontPagination]="false" [nzPageSizeOptions]="true" [nzData]="newData"
    [nzSimple]="true" [nzScroll]="{ x: '1500px', y: '300px' }" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
    #middleTable (nzQueryParams)="onQueryParamsChange($event)"  >
        <thead style="max-height: 100vh;">
            <tr>
                <th>紀錄時間日期</th>
                <th nzWidth="180px">紀錄者</th>
                <th>是否接通</th>
                <th>未接通原因</th>
                <th>未接通註記</th>
                <th>是否需再次聯繫</th>
                <th>預計下次聯繫時間</th>
                <th>客戶原因</th>
                <th nzWidth="250px">其他補充</th>
                <th>編輯</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let code of newData">
                <ng-container *ngIf="!isChk">
                    <!--紀錄時間日期-->
                    <td>{{code.recordTime}}</td>
                    <!--紀錄者-->
                    <td nzWidth="180px">{{code.recordEmpno}}-{{code.recordEmpName}}</td>
                    <!--是否接通-->
                    <td>{{code.isConnect}}</td>
                    <!--未接通原因-->
                    <td>{{code.notConnectCodeDesc}}</td>
                    <!--未接通註記-->
                    <td>{{code.notConnectMemo}}</td>
                    <!--是否需再次聯繫-->
                    <td>{{code.isContactNext}}</td>
                    <!--預計下次聯繫時間-->
                    <td>{{code.nextContactTime}}</td>
                    <!--客戶原因-->
                    <td>{{code.custReasonDesc}}</td>
                    <!--其他補充-->
                    <td nzWidth="250px">{{code.custReasonMemo}}</td>
                    <!--編輯-->
                    <td>
                        <button nz-button [nzSize]="'middle'" nzType="primary"
                            [disabled]="code.recordEmpno==userId ? false:true"
                            [nzGhost]="code.recordEmpno==userId ? false:true"
                            (click)="edit(code.isConnect,code.notConnectCodeNo,code.notConnectMemo,code.isContactNext,code.nextContactTime,code.custReasonCodeNo,code.custReasonMemo,code.rowId)">編輯</button>
                    </td>
                </ng-container>
            </tr>

        </tbody>
    </nz-table>
</div>
<div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">客戶基本資料</div>
    <form style="width:95%;margin:10px auto" [formGroup]="customerInfoForm" #formControl222="ngForm" (ngSubmit)="onSubmit()">
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">案編</span>
                    <input type="text" formControlName="APPLNO" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">姓名</span>
                    <input type="text" formControlName="CU_CNAME" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">身分證字號</span>
                    <input type="text" formControlName="NATIONAL_ID" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">數位存款帳戶類型</span>
                    <div>
                        <input type="text" formControlName="ACC_TYPE" readonly disabled>
                    </div>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">生日</span>
                    <div>

                        <input type="text" formControlName="CU_BIRTHDAY" readonly disabled>
                    </div>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">性別</span>
                    <div>
                        <mat-select style="width:100%" formControlName="CU_SEX" readonly disabled
                            style="width:100%;height:25px;border-radius:5px;border:1px solod white;padding:4px;background-color:#E6E6E6;color:white">
                            <mat-option *ngFor="let code of genderCode" [value]="code.value">
                                {{code.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">教育程度</span>
                    <div>

                        <mat-select formControlName="CU_EDUCATION" style="width:100%" readonly disabled
                            style="width:100%;height:25px;border-radius:5px;border:1px solod white;padding:4px;background-color:#E6E6E6;color:white">
                            <mat-option *ngFor="let code of educationCode" [value]="code.value">
                                {{code.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">居住年數</span>
                    <div>
                        <input type="text" formControlName="CU_RDTL" readonly disabled>

                    </div>
                </div>
            </div>




        </div>
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">婚姻狀況</span>
                    <input type="text" formControlName="CU_MARRIED_STATUS" readonly disabled>

                </div>
            </div>
            <div nz-col nzFlex="2">
                <div style="padding:10px"><span class="form-title-actions">手機號碼</span>
                    <div>
                        <div nz-row>
                            <div nz-col nzFlex="1">
                                <input type="text" formControlName="CU_M_TEL_INO" readonly disabled>

                            </div>
                            &nbsp;&nbsp;
                            <div nz-col nzFlex="4">
                                <input type="text" style="width:100%" formControlName="CU_M_TEL" readonly disabled>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div nz-col nzFlex="2">
                <div style="padding:10px"><span class="form-title-actions">電話號碼</span>
                    <div>
                        <div nz-row>
                            <div nz-col nzFlex="1">
                                <input type="text" formControlName="CU_H_TEL_INO" readonly disabled>
                            </div>
                            &nbsp;&nbsp;
                            <div nz-col nzFlex="4">
                                <input type="text" formControlName="CU_H_TEL" style="width:100%" readonly disabled>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">居住狀況</span>
                    <input style="display: block;" formControlName="LIVING_STATUS" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">電子郵件地址</span>
                    <input type="text" formControlName="CU_EMAIL" readonly disabled>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">現住地區</span>
                    <input type="text" formControlName="CU_H_ADDR_CODE" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px">
                    <br>
                    <div style="height:30px;border-radius: 5px;">
                        <input type="text" formControlName="CU_H_ADDR1" readonly disabled>
                    </div>
                </div>
            </div>
           
            <div nz-col nzFlex="3">
                <div style="padding:10px">
                    <br>
                    <input formControlName="CU_H_ADDR2" type="text" style="width: 100%;" readonly disabled>

                </div>
            </div>




        </div>
     
    </form>



</div>
<div class="line_bank_card_no_padding" [hidden]="page=='0607'">
    <div class="line_bank_form_header_title">申覆案件</div>
    <div style=" z-index:90;text-align: center">
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:5px" (click)="getCaseList()">申覆</button>
    </div>
</div>
<div class="line_bank_card_no_padding" [hidden]="page=='0607'">
    <div class="line_bank_form_header_title">本次Outbound註記</div>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">是否接通</span>
                    <mat-select [(ngModel)]="isConnectValue" name="isConnectCode" (ngModelChange)="cleanReason($event)" required >
                        <mat-option class="option" *ngFor="let code of isConnectCode" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControl.invalid &&(isConnectValue==''||isConnectValue==null)">
                        {{getErrorMessage()}}</mat-error>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">未接通原因</span>
                    <mat-select [(ngModel)]="notConnectValue" name="notConnectValue" [disabled]="isConnectValue=='Y'" required
                        [ngClass]="isConnectValue=='Y'?'gray':'white'">
                        <mat-option class="option" *ngFor="let code of notConnectCode" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf=" isConnectValue=='N' && (notConnectValue==null||notConnectValue=='')">
                        {{getErrorMessage()}}</mat-error>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">未接通註記</span>
                    <input matInput id="input" style="text-align:left;width:100%" class="form-control"
                        [(ngModel)]="notConnectMemo" name="notConnectMemo" placeholder="請輸入註記"
                        [required]="notConnectValue == '03'" [disabled]="isConnectValue=='Y'"
                        [ngClass]="isConnectValue=='Y'?'gray':'white'">
                    <mat-error *ngIf="  (notConnectMemo==null||notConnectMemo=='') && notConnectValue == '03'">
                        {{getErrorMessage()}}
                    </mat-error>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">是否需再次聯繫</span>
                    <mat-select [(ngModel)]="isContactNextValue" name="isContactNextValue" >
                        <mat-option class="option" *ngFor="let code of isContactNextCode" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="formControl.invalid && (isContactNextValue==''|| isContactNextValue==null)">
                        {{getErrorMessage()}}</mat-error> -->


                </div>
            </div>

            <!-- <div nz-col nzFlex="1"> -->
                <div nz-col nzFlex="1">
                    <div nz-row>
                        <div nz-col nzSpan="16">
                            <div class="form">
                                <div><span class="form-title" style="margin:0px;">預計下次聯繫日期</span>
                                    <nz-date-picker style="display:block" [(ngModel)]="nextContactTime" name="nextContactTime"
                                    [required]="isContactNextValue=='Y'" [disabled]="isContactNextValue!='Y'" [ngClass]="isContactNextValue!='Y'?'gray':'white'" >
                                    </nz-date-picker>
                                </div>
                                <mat-error *ngIf="isContactNextValue=='Y'&& nextContactTime==null">{{getErrorMessage()}}
                                </mat-error>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form">
                                <div><span class="form-title-actions">時</span>
                                    <mat-select [(ngModel)]="nextContactTimeHour" name="nextContactTimeHour" [required]="isContactNextValue=='Y'" [disabled]="isContactNextValue!='Y'" [ngClass]="isContactNextValue!='Y'?'gray':'white'" required >
                                        <mat-option *ngFor="let code of hour" [value]="code">
                                            {{code}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isContactNextValue=='Y'&& nextContactTimeHour==null">{{getErrorMessage()}}
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div style="padding:10px"><span class="form-title-actions">預計下次聯繫日期</span>
                    <div nz-row [nzGutter]="20">
                        <div nz-col nzFlex="16">
                            <nz-date-picker style="display:block" [(ngModel)]="nextContactTime" name="nextContactTime"
                                [required]="isContactNextValue=='Y'">
                            </nz-date-picker> -->
                            <!-- <nz-date-picker style="width:100%" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="nextContactTime" (ngModelChange)="onChange($event)"
                        [disabled]="isContactNextValue=='N'" [ngClass]="isContactNextValue=='N'?'gray':'white'"     (nzOnOk)="onOk($event)"
                        [nzDisabledTime]="disabledDateTime"></nz-date-picker>  -->
                        <!-- </div>
                        <div nz-col nzFlex="8">
                            <span class="form-title-actions">時</span>
                            <mat-select [(ngModel)]="nextContactTimeHour" name="nextContactTimeHour">
                                <mat-option *ngFor="let code of hour" [value]="code">
                                    {{code}}
                                </mat-option>
                            </mat-select> -->
                            <!-- <mat-select  [(ngModel)]="nextContactTimeHour" name="nextContactTimeHour" required>
                            <mat-option class="option" *ngFor="let code of hour" [value]="code">
                                {{code}}
                            </mat-option>
                        </mat-select> -->
                        <!-- </div>
                    </div>





                    <mat-error *ngIf="isContactNextValue=='Y'&& nextContactTime==null">{{getErrorMessage()}}
                    </mat-error>

                </div> -->
            <!-- </div> -->
        </div>
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">客戶原因</span>
                    <mat-select [(ngModel)]="custReasonValue" name="custReasonValue"  [disabled]="isConnectValue=='N'" [ngClass]="isConnectValue=='N'?'gray':'white'" required>
                        <mat-option class="option" *ngFor="let code of custReasonCode" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isConnectValue=='Y'&&(custReasonValue==null||custReasonValue=='')">
                        {{getErrorMessage()}}
                    </mat-error>
                </div>
            </div>
            <div nz-col nzFlex="2">
                <div style="padding:10px"><span class="form-title-actions">其他補充</span>
                    <input matInput id="input" style="width:97%" class="form-control" [(ngModel)]="custReasonMemo"
                        name="custReasonMemo" maxlength="200" placeholder="請輸入註記">

                </div>
            </div>
            <div nz-col nzFlex="1">
            </div>
            <div nz-col nzFlex="1">
            </div>
        </div>


        <div style="padding-bottom: 20px; z-index:90;text-align: center">
            <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                [disabled]="!formControl.valid" (click)="saveOutBoundRecord()">儲存</button>
        </div>
    </form>

</div>



<!-- <div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">對應案件申請書欄位</div>
    <form [formGroup]="applicationData" style="width:95%;margin:10px auto" #formControl111="ngForm">
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">申請產品</span>
                    <input type="text" formControlName="PROD_CODE" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">BT核准額度</span>
                    <input type="text" formControlName="APRV_DEBT_AMT" readonly disabled>
                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">撥款帳號</span>
                    <input type="text" placeholder="請輸入撥款帳號" formControlName="DSBSACCTNBR">

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">還款帳號</span>
                    <input type="text" placeholder="請輸入還款帳號" formControlName="RPAYACCTNBR">

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">現金撥款核准額度</span>
                    <input type="text" formControlName="APRV_INST_CASH_AMT" readonly disabled>

                </div>
            </div>

        </div>
        <div nz-row>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">結清日</span>
                    <nz-date-picker style="display: block;" formControlName="SETTLE_DATE">
                    </nz-date-picker>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">期數</span>
                    <mat-select formControlName="PERIOD">
                        <mat-option class="option" *ngFor="let code of peiodCode" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>

                </div>
            </div>
            <div nz-col nzFlex="1">
                <div style="padding:10px"><span class="form-title-actions">每月還款金額</span>
                    <input type="text" placeholder="待確認" readonly disabled>

                </div>
            </div>
        </div>
        <div style="padding-bottom: 20px; z-index:90;text-align: center">
            <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                (click)="saveAdditionalInfo()">儲存</button>
        </div>
    </form>

</div> -->
